<!--Users Routing Exampoel-->
<h1>Router Examples</h1>
<a routerLink="home">Home</a>
<a routerLink="users">Users</a>

<nav class="navbar navbar-default" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="home">HOME</a></li>
            <li routerLinkActive="active"><a routerLink="users">USERS</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
